In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.formula.api as snf
import seaborn as sns

In [2]:
data_as = pd.read_csv("As_DD_2012.csv", delimiter=";")
data_bap = pd.read_csv("BaP_DD_2012.csv", delimiter=";")
data_cd = pd.read_csv("Cd_DD_2012.csv", delimiter=";")
data_ni = pd.read_csv("Ni_DD_2012.csv", delimiter=";")
data_pb = pd.read_csv("Pb_DD_2012.csv", delimiter=";")
data_pm10 = pd.read_csv("PM10_DD_2012.csv", delimiter=";")
data_pm25 = pd.read_csv("PM2.5_DD_2012.csv", delimiter=";")

In [3]:
data_as["EMISION"] = "As"
data_bap["EMISION"] = "BaP"
data_cd["EMISION"] = "Cd"
data_ni["EMISION"] = "Ni"
data_pb["EMISION"] = "Pb"
data_pm10["EMISION"] = "PM10"
data_pm25["EMISION"] = "PM25"

In [4]:
all_data = pd.concat([data_as, data_bap, data_cd, data_ni, data_pb, data_pm10, data_pm25], ignore_index=True)

In [5]:
day_columns = [f'D{i:02}' for i in range(1, 32)]
all_data[day_columns] = all_data[day_columns].interpolate(axis=1, method='linear', limit_direction='both')

In [6]:
medias = []
for i in range(len(all_data)):
    row = all_data.loc[i, day_columns]
    if row.count() >= 15:
        valor_media = row.mean()
    else:
        valor_media = np.nan
    medias.append(valor_media)

In [7]:
all_data["MEDIA MENSUAL"] = medias

In [8]:
result_12 = all_data.groupby(["EMISION", "PROVINCIA", "ANNO"]).agg(
    MEDIAANUAL_EMISION=pd.NamedAgg(column="MEDIA MENSUAL", aggfunc="mean")
).reset_index()

In [9]:
result_12.MEDIAANUAL_EMISION = result_12.MEDIAANUAL_EMISION.round(4)

In [10]:
result_12

    EMISION  PROVINCIA  ANNO  MEDIAANUAL_EMISION
0        As          1  2012              0.3552
1        As          3  2012              0.2681
2        As          4  2012              0.5523
3        As          6  2012              0.3676
4        As          7  2012              1.1795
..      ...        ...   ...                 ...
199      Pb         45  2012              0.0025
200      Pb         46  2012              0.0034
201      Pb         47  2012              0.0101
202      Pb         48  2012              0.0498
203      Pb         49  2012              0.0018

[204 rows x 4 columns]

In [11]:
data_as = pd.read_csv("As_2013_DD.csv", delimiter=";")
data_bap = pd.read_csv("BaP_2013_DD.csv", delimiter=";")
data_cd = pd.read_csv("Cd_2013_DD.csv", delimiter=";")
data_ni = pd.read_csv("Ni_2013_DD.csv", delimiter=";")
data_pb = pd.read_csv("Pb_2013_DD.csv", delimiter=";")
data_pm10 = pd.read_csv("PM10_2013_DD.csv", delimiter=";")
data_pm25 = pd.read_csv("PM2.5_2013_DD.csv", delimiter=";")

In [12]:
data_as["EMISION"] = "As"
data_bap["EMISION"] = "BaP"
data_cd["EMISION"] = "Cd"
data_ni["EMISION"] = "Ni"
data_pb["EMISION"] = "Pb"
data_pm10["EMISION"] = "PM10"
data_pm25["EMISION"] = "PM25"

In [13]:
all_data = pd.concat([data_as, data_bap, data_cd, data_ni, data_pb, data_pm10, data_pm25], ignore_index=True)

In [14]:
day_columns = [f'D{i:02}' for i in range(1, 32)]
all_data[day_columns] = all_data[day_columns].interpolate(axis=1, method='linear', limit_direction='both')

In [15]:
medias = []
for i in range(len(all_data)):
    row = all_data.loc[i, day_columns]
    if row.count() >= 15:
        valor_media = row.mean()
    else:
        valor_media = np.nan
    medias.append(valor_media)

In [16]:
all_data["MEDIA MENSUAL"] = medias

In [17]:
result_13 = all_data.groupby(["EMISION", "PROVINCIA", "ANNO"]).agg(
    MEDIAANUAL_EMISION=pd.NamedAgg(column="MEDIA MENSUAL", aggfunc="mean")
).reset_index()

In [18]:
result_13.MEDIAANUAL_EMISION = result_13.MEDIAANUAL_EMISION.round(4)

In [19]:
result_13

    EMISION  PROVINCIA  ANNO  MEDIAANUAL_EMISION
0        As          1  2013              0.2968
1        As          2  2013              0.7000
2        As          3  2013              0.1855
3        As          4  2013              0.4211
4        As          6  2013              0.3231
..      ...        ...   ...                 ...
221      Pb         45  2013              0.0013
222      Pb         46  2013              0.0019
223      Pb         47  2013              0.0585
224      Pb         48  2013              0.0375
225      Pb         50  2013              0.0025

[226 rows x 4 columns]

In [20]:
data_as = pd.read_csv("As_DD_2014.csv")
data_bap = pd.read_csv("BaP_DD_2014.csv")
data_cd = pd.read_csv("Cd_DD_2014.csv")
data_ni = pd.read_csv("Ni_DD_2014.csv")
data_pb = pd.read_csv("Pb_DD_2014.csv")
data_pm10 = pd.read_csv("PM10_DD_2014.csv")
data_pm25 = pd.read_csv("PM2.5_DD_2014.csv")

In [21]:
data_as["EMISION"] = "As"
data_bap["EMISION"] = "BaP"
data_cd["EMISION"] = "Cd"
data_ni["EMISION"] = "Ni"
data_pb["EMISION"] = "Pb"
data_pm10["EMISION"] = "PM10"
data_pm25["EMISION"] = "PM25"

In [22]:
all_data = pd.concat([data_as, data_bap, data_cd, data_ni, data_pb, data_pm10, data_pm25], ignore_index=True)

In [23]:
day_columns = [f'D{i:02}' for i in range(1, 32)]
all_data[day_columns] = all_data[day_columns].interpolate(axis=1, method='linear', limit_direction='both')

In [24]:
medias = []
for i in range(len(all_data)):
    row = all_data.loc[i, day_columns]
    if row.count() >= 15:
        valor_media = row.mean()
    else:
        valor_media = np.nan
    medias.append(valor_media)

In [25]:
all_data["MEDIA MENSUAL"] = medias

In [26]:
result_14 = all_data.groupby(["EMISION", "PROVINCIA", "ANNO"]).agg(
    MEDIAANUAL_EMISION=pd.NamedAgg(column="MEDIA MENSUAL", aggfunc="mean")
).reset_index()

In [27]:
result_14.MEDIAANUAL_EMISION = result_14.MEDIAANUAL_EMISION.round(4)

In [28]:
result_14

    EMISION  PROVINCIA  ANNO  MEDIAANUAL_EMISION
0        As          1  2014              0.2861
1        As          3  2014              0.3165
2        As          4  2014              0.4462
3        As          6  2014              0.1131
4        As          7  2014              0.7009
..      ...        ...   ...                 ...
234      Pb         45  2014              0.0014
235      Pb         46  2014              0.0018
236      Pb         47  2014              0.0355
237      Pb         48  2014              0.0351
238      Pb         50  2014              0.0034

[239 rows x 4 columns]

In [29]:
data_as = pd.read_csv("As_DD_2015.csv")
data_bap = pd.read_csv("BaP_DD_2015.csv")
data_cd = pd.read_csv("Cd_DD_2015.csv")
data_ni = pd.read_csv("Ni_DD_2015.csv")
data_pb = pd.read_csv("Pb_DD_2015.csv")
data_pm10 = pd.read_csv("PM10_DD_2015.csv")
data_pm25 = pd.read_csv("PM2.5_DD_2015.csv")

In [30]:
data_as["EMISION"] = "As"
data_bap["EMISION"] = "BaP"
data_cd["EMISION"] = "Cd"
data_ni["EMISION"] = "Ni"
data_pb["EMISION"] = "Pb"
data_pm10["EMISION"] = "PM10"
data_pm25["EMISION"] = "PM25"

In [31]:
all_data = pd.concat([data_as, data_bap, data_cd, data_ni, data_pb, data_pm10, data_pm25], ignore_index=True)

In [32]:
day_columns = [f'D{i:02}' for i in range(1, 32)]
all_data[day_columns] = all_data[day_columns].interpolate(axis=1, method='linear', limit_direction='both')

In [33]:
medias = []
for i in range(len(all_data)):
    row = all_data.loc[i, day_columns]
    if row.count() >= 15:
        valor_media = row.mean()
    else:
        valor_media = np.nan
    medias.append(valor_media)

In [34]:
all_data["MEDIA MENSUAL"] = medias

In [35]:
result_15 = all_data.groupby(["EMISION", "PROVINCIA", "ANNO"]).agg(
    MEDIAANUAL_EMISION=pd.NamedAgg(column="MEDIA MENSUAL", aggfunc="mean")
).reset_index()

In [36]:
result_15.MEDIAANUAL_EMISION = result_15.MEDIAANUAL_EMISION.round(4)

In [37]:
result_15

    EMISION  PROVINCIA  ANNO  MEDIAANUAL_EMISION
0        As          1  2015              0.3708
1        As          3  2015              0.2140
2        As          4  2015              0.5242
3        As          5  2015              0.0421
4        As          6  2015              0.0726
..      ...        ...   ...                 ...
233      Pb         45  2015              0.0021
234      Pb         46  2015              0.0155
235      Pb         47  2015              0.0336
236      Pb         48  2015              0.0349
237      Pb         50  2015              0.0030

[238 rows x 4 columns]

In [38]:
data_as = pd.read_csv("As_DD_2016.csv")
data_bap = pd.read_csv("BaP_DD_2016.csv")
data_cd = pd.read_csv("Cd_DD_2016.csv")
data_ni = pd.read_csv("Ni_DD_2016.csv")
data_pb = pd.read_csv("Pb_DD_2016.csv")
data_pm10 = pd.read_csv("PM10_DD_2016.csv")
data_pm25 = pd.read_csv("PM2.5_DD_2016.csv")

In [39]:
data_as["EMISION"] = "As"
data_bap["EMISION"] = "BaP"
data_cd["EMISION"] = "Cd"
data_ni["EMISION"] = "Ni"
data_pb["EMISION"] = "Pb"
data_pm10["EMISION"] = "PM10"
data_pm25["EMISION"] = "PM25"

In [40]:
all_data = pd.concat([data_as, data_bap, data_cd, data_ni, data_pb, data_pm10, data_pm25], ignore_index=True)

In [41]:
day_columns = [f'D{i:02}' for i in range(1, 32)]
all_data[day_columns] = all_data[day_columns].interpolate(axis=1, method='linear', limit_direction='both')

In [42]:
medias = []
for i in range(len(all_data)):
    row = all_data.loc[i, day_columns]
    if row.count() >= 15:
        valor_media = row.mean()
    else:
        valor_media = np.nan
    medias.append(valor_media)

In [43]:
all_data["MEDIA MENSUAL"] = medias

In [44]:
result_16 = all_data.groupby(["EMISION", "PROVINCIA", "ANNO"]).agg(
    MEDIAANUAL_EMISION=pd.NamedAgg(column="MEDIA MENSUAL", aggfunc="mean")
).reset_index()

In [45]:
result_16.MEDIAANUAL_EMISION = result_16.MEDIAANUAL_EMISION.round(4)

In [46]:
result_16

    EMISION  PROVINCIA  ANNO  MEDIAANUAL_EMISION
0        As          1  2016              0.3047
1        As          2  2016              0.0850
2        As          3  2016              0.1963
3        As          4  2016              0.4061
4        As          6  2016              0.3548
..      ...        ...   ...                 ...
242      Pb         45  2016              0.0004
243      Pb         46  2016              0.0266
244      Pb         47  2016              0.0043
245      Pb         48  2016              0.0247
246      Pb         50  2016              0.0029

[247 rows x 4 columns]

In [47]:
data_as = pd.read_csv("As_DD_2017.csv", delimiter = ";")
data_bap = pd.read_csv("BaP_DD_2017.csv", delimiter = ";")
data_cd = pd.read_csv("Cd_DD_2017.csv", delimiter = ";")
data_ni = pd.read_csv("Ni_DD_2017.csv", delimiter = ";")
data_pb = pd.read_csv("Pb_DD_2017.csv", delimiter = ";")
data_pm10 = pd.read_csv("PM10_DD_2017.csv", delimiter = ";")
data_pm25 = pd.read_csv("PM2.5_DD_2017.csv", delimiter = ";")

In [48]:
data_as["EMISION"] = "As"
data_bap["EMISION"] = "BaP"
data_cd["EMISION"] = "Cd"
data_ni["EMISION"] = "Ni"
data_pb["EMISION"] = "Pb"
data_pm10["EMISION"] = "PM10"
data_pm25["EMISION"] = "PM25"

In [49]:
all_data = pd.concat([data_as, data_bap, data_cd, data_ni, data_pb, data_pm10, data_pm25], ignore_index=True)

In [50]:
day_columns = [f'D{i:02}' for i in range(1, 32)]
all_data[day_columns] = all_data[day_columns].interpolate(axis=1, method='linear', limit_direction='both')

In [51]:
medias = []
for i in range(len(all_data)):
    row = all_data.loc[i, day_columns]
    if row.count() >= 15:
        valor_media = row.mean()
    else:
        valor_media = np.nan
    medias.append(valor_media)

In [52]:
all_data["MEDIA MENSUAL"] = medias

In [53]:
result_17 = all_data.groupby(["EMISION", "PROVINCIA", "ANNO"]).agg(
    MEDIAANUAL_EMISION=pd.NamedAgg(column="MEDIA MENSUAL", aggfunc="mean")
).reset_index()

In [54]:
result_17.MEDIAANUAL_EMISION = result_17.MEDIAANUAL_EMISION.round(4)

In [55]:
result_17

    EMISION  PROVINCIA  ANNO  MEDIAANUAL_EMISION
0        As          1  2017              0.3552
1        As          2  2017              1.8050
2        As          3  2017              0.3035
3        As          4  2017              0.4577
4        As          6  2017              0.4003
..      ...        ...   ...                 ...
268      Pb         41  2017              0.0053
269      Pb         43  2017              0.0026
270      Pb         45  2017              0.0016
271      Pb         46  2017              0.0120
272      Pb         47  2017              0.0031

[273 rows x 4 columns]

In [56]:
data_as = pd.read_csv("As_DD_2018.csv", delimiter = ";")
data_bap = pd.read_csv("BaP_DD_2018.csv", delimiter = ";")
data_cd = pd.read_csv("Cd_DD_2018.csv", delimiter = ";")
data_ni = pd.read_csv("Ni_DD_2018.csv", delimiter = ";")
data_pb = pd.read_csv("Pb_DD_2018.csv", delimiter = ";")
data_pm10 = pd.read_csv("PM10_DD_2018.csv", delimiter = ";")
data_pm25 = pd.read_csv("PM2.5_DD_2018.csv", delimiter = ";")

In [57]:
data_as["EMISION"] = "As"
data_bap["EMISION"] = "BaP"
data_cd["EMISION"] = "Cd"
data_ni["EMISION"] = "Ni"
data_pb["EMISION"] = "Pb"
data_pm10["EMISION"] = "PM10"
data_pm25["EMISION"] = "PM25"

In [58]:
all_data = pd.concat([data_as, data_bap, data_cd, data_ni, data_pb, data_pm10, data_pm25], ignore_index=True)

In [59]:
day_columns = [f'D{i:02}' for i in range(1, 32)]
all_data[day_columns] = all_data[day_columns].interpolate(axis=1, method='linear', limit_direction='both')

In [60]:
medias = []
for i in range(len(all_data)):
    row = all_data.loc[i, day_columns]
    if row.count() >= 15:
        valor_media = row.mean()
    else:
        valor_media = np.nan
    medias.append(valor_media)

In [61]:
all_data["MEDIA MENSUAL"] = medias

In [62]:
result_18 = all_data.groupby(["EMISION", "PROVINCIA", "ANNO"]).agg(
    MEDIAANUAL_EMISION=pd.NamedAgg(column="MEDIA MENSUAL", aggfunc="mean")
).reset_index()

In [63]:
result_18.MEDIAANUAL_EMISION = result_18.MEDIAANUAL_EMISION.round(4)

In [64]:
result_18

    EMISION  PROVINCIA  ANNO  MEDIAANUAL_EMISION
0        As          1  2018              0.3618
1        As          2  2018              0.3485
2        As          3  2018              0.2237
3        As          4  2018              0.2607
4        As          6  2018              0.3903
..      ...        ...   ...                 ...
267      Pb         41  2018              0.0026
268      Pb         43  2018              0.0025
269      Pb         45  2018              0.0014
270      Pb         46  2018              0.0103
271      Pb         48  2018              0.0209

[272 rows x 4 columns]

In [65]:
data_as = pd.read_csv("As_DD_2019.csv", delimiter = ";")
data_bap = pd.read_csv("BaP_DD_2019.csv", delimiter = ";")
data_cd = pd.read_csv("Cd_DD_2019.csv", delimiter = ";")
data_ni = pd.read_csv("Ni_DD_2019.csv", delimiter = ";")
data_pb = pd.read_csv("Pb_DD_2019.csv", delimiter = ";")
data_pm10 = pd.read_csv("PM10_DD_2019.csv", delimiter = ";")
data_pm25 = pd.read_csv("PM2.5_DD_2019.csv", delimiter = ";")

In [66]:
data_as["EMISION"] = "As"
data_bap["EMISION"] = "BaP"
data_cd["EMISION"] = "Cd"
data_ni["EMISION"] = "Ni"
data_pb["EMISION"] = "Pb"
data_pm10["EMISION"] = "PM10"
data_pm25["EMISION"] = "PM25"

In [67]:
all_data = pd.concat([data_as, data_bap, data_cd, data_ni, data_pb, data_pm10, data_pm25], ignore_index=True)

In [68]:
day_columns = [f'D{i:02}' for i in range(1, 32)]
all_data[day_columns] = all_data[day_columns].interpolate(axis=1, method='linear', limit_direction='both')

In [69]:
medias = []
for i in range(len(all_data)):
    row = all_data.loc[i, day_columns]
    if row.count() >= 15:
        valor_media = row.mean()
    else:
        valor_media = np.nan
    medias.append(valor_media)

In [70]:
all_data["MEDIA MENSUAL"] = medias

In [71]:
result_19 = all_data.groupby(["EMISION", "PROVINCIA", "ANNO"]).agg(
    MEDIAANUAL_EMISION=pd.NamedAgg(column="MEDIA MENSUAL", aggfunc="mean")
).reset_index()

In [72]:
result_19.MEDIAANUAL_EMISION = result_19.MEDIAANUAL_EMISION.round(4)

In [73]:
result_19

    EMISION  PROVINCIA  ANNO  MEDIAANUAL_EMISION
0        As          1  2019              0.3449
1        As          2  2019              0.5513
2        As          3  2019              0.3643
3        As          4  2019              0.5208
4        As          6  2019              0.4173
..      ...        ...   ...                 ...
231      Pb         43  2019              0.0025
232      Pb         45  2019              0.0013
233      Pb         46  2019              0.0102
234      Pb         47  2019              0.0124
235      Pb         48  2019              0.0189

[236 rows x 4 columns]

In [74]:
data_as = pd.read_csv("As_DD_2020.csv", delimiter = ";")
data_bap = pd.read_csv("BaP_DD_2020.csv", delimiter = ";")
data_cd = pd.read_csv("Cd_DD_2020.csv", delimiter = ";")
data_ni = pd.read_csv("Ni_DD_2020.csv", delimiter = ";")
data_pb = pd.read_csv("Pb_DD_2020.csv", delimiter = ";")
data_pm10 = pd.read_csv("PM10_DD_2020.csv", delimiter = ";")
data_pm25 = pd.read_csv("PM2.5_DD_2020.csv", delimiter = ";")

In [75]:
data_as["EMISION"] = "As"
data_bap["EMISION"] = "BaP"
data_cd["EMISION"] = "Cd"
data_ni["EMISION"] = "Ni"
data_pb["EMISION"] = "Pb"
data_pm10["EMISION"] = "PM10"
data_pm25["EMISION"] = "PM25"

In [76]:
all_data = pd.concat([data_as, data_bap, data_cd, data_ni, data_pb, data_pm10, data_pm25], ignore_index=True)

In [77]:
day_columns = [f'D{i:02}' for i in range(1, 32)]
all_data[day_columns] = all_data[day_columns].interpolate(axis=1, method='linear', limit_direction='both')

In [78]:
medias = []
for i in range(len(all_data)):
    row = all_data.loc[i, day_columns]
    if row.count() >= 15:
        valor_media = row.mean()
    else:
        valor_media = np.nan
    medias.append(valor_media)

In [79]:
all_data["MEDIA MENSUAL"] = medias

In [80]:
result_20 = all_data.groupby(["EMISION", "PROVINCIA", "ANNO"]).agg(
    MEDIAANUAL_EMISION=pd.NamedAgg(column="MEDIA MENSUAL", aggfunc="mean")
).reset_index()

In [81]:
result_20.MEDIAANUAL_EMISION = result_20.MEDIAANUAL_EMISION.round(4)

In [82]:
result_20

    EMISION  PROVINCIA  ANNO  MEDIAANUAL_EMISION
0        As          1  2020              0.3183
1        As          2  2020              0.4175
2        As          3  2020              0.7493
3        As          4  2020              0.4190
4        As          6  2020              0.4149
..      ...        ...   ...                 ...
255      Pb         45  2020              0.0011
256      Pb         46  2020              0.0103
257      Pb         47  2020              0.0229
258      Pb         48  2020              0.0140
259      Pb         50  2020              0.0055

[260 rows x 4 columns]

In [83]:
data_as = pd.read_csv("As_DD_2021.csv", delimiter = ";")
data_bap = pd.read_csv("BaP_DD_2021.csv", delimiter = ";")
data_cd = pd.read_csv("Cd_DD_2021.csv", delimiter = ";")
data_ni = pd.read_csv("Ni_DD_2021.csv", delimiter = ";")
data_pb = pd.read_csv("Pb_DD_2021.csv", delimiter = ";")
data_pm10 = pd.read_csv("PM10_DD_2021.csv", delimiter = ";")
data_pm25 = pd.read_csv("PM2.5_DD_2021.csv", delimiter = ";")

In [84]:
data_as["EMISION"] = "As"
data_bap["EMISION"] = "BaP"
data_cd["EMISION"] = "Cd"
data_ni["EMISION"] = "Ni"
data_pb["EMISION"] = "Pb"
data_pm10["EMISION"] = "PM10"
data_pm25["EMISION"] = "PM25"

In [85]:
all_data = pd.concat([data_as, data_bap, data_cd, data_ni, data_pb, data_pm10, data_pm25], ignore_index=True)

In [86]:
day_columns = [f'D{i:02}' for i in range(1, 32)]
all_data[day_columns] = all_data[day_columns].interpolate(axis=1, method='linear', limit_direction='both')

In [87]:
medias = []
for i in range(len(all_data)):
    row = all_data.loc[i, day_columns]
    if row.count() >= 15:
        valor_media = row.mean()
    else:
        valor_media = np.nan
    medias.append(valor_media)

In [88]:
all_data["MEDIA MENSUAL"] = medias

In [89]:
result_21 = all_data.groupby(["EMISION", "PROVINCIA", "ANNO"]).agg(
    MEDIAANUAL_EMISION=pd.NamedAgg(column="MEDIA MENSUAL", aggfunc="mean")
).reset_index()

In [90]:
result_21.MEDIAANUAL_EMISION = result_21.MEDIAANUAL_EMISION.round(4)

In [91]:
result_21

    EMISION  PROVINCIA  ANNO  MEDIAANUAL_EMISION
0        As          1  2021              0.3303
1        As          2  2021              0.3981
2        As          3  2021              0.2227
3        As          4  2021              0.3760
4        As          5  2021              0.2651
..      ...        ...   ...                 ...
280      Pb         47  2021              0.0230
281      Pb         48  2021              0.0200
282      Pb         49  2021              0.0018
283      Pb         50  2021              0.0045
284      Pb         51  2021              0.0200

[285 rows x 4 columns]

In [92]:
data_concatenada = pd.concat([result_12, result_13, result_14, result_15, result_16, result_17, result_18, result_19, result_20, result_21], ignore_index=True)

In [93]:
data_concatenada.rename(columns={'PROVINCIA': 'Provincia_ID','EMISION':'Emisión','ANNO':'Año','MEDIAANUAL_EMISION':'Emisión Anual'}, inplace=True)

In [94]:
data_concatenada['Provincia_ID'].unique()

array([ 1,  3,  4,  6,  7,  8, 10, 11, 12, 13, 14, 17, 18, 21, 23, 24, 25,
       28, 29, 30, 33, 39, 41, 42, 43, 45, 46, 47, 48, 49, 15, 19, 20, 22,
       27, 34, 44, 50,  9, 26, 31,  2, 36, 37, 38,  5, 32, 40, 16, 35, 51])

In [95]:
columna_anio = data_concatenada.pop('Año')
data_concatenada.insert(0,'Año',columna_anio)

In [96]:
Calidad_Aire = data_concatenada

In [97]:
Calidad_Aire['Emisión'].unique()

array(['As', 'BaP', 'Cd', 'Ni', 'PM10', 'PM25', 'Pb'], dtype=object)

In [98]:
emision_duplicada = Calidad_Aire['Emisión']
if 'EmisionDuplicada' in Calidad_Aire.columns:
    Calidad_Aire.drop(columns=['EmisionDuplicada'], inplace=True)
Calidad_Aire.insert(2, 'EmisionDuplicada', emision_duplicada)

In [99]:
Calidad_Aire.rename(
    columns = {'EmisionDuplicada': 'Emisión_ID'},
    inplace = True
)

In [100]:
mapeo_calidad = {
        'As':1,
        'BaP':2,
        'Cd':3,
        'Ni':4,
        'PM10':5,
        'PM25':6,
        'Pb':7, 
}

Calidad_Aire['Emisión_ID'] = Calidad_Aire['Emisión_ID'].map(mapeo_calidad)

In [101]:
ProvinciaID_duplicada = Calidad_Aire['Provincia_ID']
if 'ProvinciaID_duplicada' in Calidad_Aire.columns:
    Calidad_Aire.drop(columns=['ProvinciaID_duplicada'], inplace=True)
Calidad_Aire.insert(2, 'ProvinciaID_duplicada', ProvinciaID_duplicada)

In [102]:
Calidad_Aire.rename(
    columns = {'ProvinciaID_duplicada': 'Provincia'},
    inplace = True
)

In [103]:
mapeo_provinciasId = {
    1 : "Álava",
    2 : "Albacete",
    3 : "Alicante",
    4 : "Almería",
    5 : "Ávila",
    6 : "Badajoz",
    7 : "Islas Baleares",
    8 : "Barcelona",
    9 : "Burgos",
    10: "Cáceres",
    11: "Cádiz",
    12: "Castellón",
    13: "Ciudad Real",
    14: "Córdoba",
    15: "A Coruña",
    16: "Cuenca",
    17: "Girona",
    18: "Granada",
    19: "Guadalajara",
    20: "Gipuzkoa",
    21: "Huelva",
    22: "Huesca",
    23: "Jaén",
    24: "León",
    25: "Lleida",
    26: "La Rioja",
    27: "Lugo",
    28: "Madrid",
    29: "Málaga",
    30: "Murcia",
    31: "Navarra",
    32: "Ourense",
    33: "Asturias",
    34: "Palencia",
    35: "Las Palmas",
    36: "Pontevedra",
    37: "Salamanca",
    38: "Santa Cruz de Tenerife",
    39: "Cantabria",
    40: "Segovia",
    41: "Sevilla",
    42: "Soria",
    43: "Tarragona",
    44: "Teruel",
    45: "Toledo",
    46: "Valencia",
    47: "Valladolid",
    48: "Bizkaia",
    49: "Zamora",
    50: "Zaragoza",
    51: "Ceuta",
    52: "Melilla"
}

Calidad_Aire['Provincia'] = Calidad_Aire['Provincia'].map(mapeo_provinciasId)

In [104]:
columna_provincia = Calidad_Aire.pop('Provincia')
Calidad_Aire.insert(3, 'Provincia', columna_provincia)

In [105]:
Calidad_Aire.head(10)

    Año Emisión  Emisión_ID       Provincia  Provincia_ID  Emisión Anual
0  2012      As           1           Álava             1         0.3552
1  2012      As           1        Alicante             3         0.2681
2  2012      As           1         Almería             4         0.5523
3  2012      As           1         Badajoz             6         0.3676
4  2012      As           1  Islas Baleares             7         1.1795
5  2012      As           1       Barcelona             8         1.3641
6  2012      As           1         Cáceres            10         0.2121
7  2012      As           1           Cádiz            11         0.9225
8  2012      As           1       Castellón            12         0.6681
9  2012      As           1     Ciudad Real            13         0.6776

In [ ]:
Calidad_Aire.to_csv('Calidad_Aire.csv', index=False)