In [1]:
# Limpieza de datos de hospitalizaciones 2020

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.formula.api as snf
import seaborn as sns

In [3]:
df20 = pd.read_csv("1-2020.csv", delimiter= ";", encoding = "latin1")
df20.columns = df20.columns.str.strip()

In [4]:
# Mostrar los nombres de columnas para verificar
print("Columnas de df20:", df20.columns)

Columnas de df20: Index(['Diagnóstico principal (CIE10MC)', 'Total Nacional',
       'Comunidades y Ciudades Autónomas', 'Provincias', 'Sexo', 'Total'],
      dtype='object')

In [5]:
df20.head(50)

,Diagnóstico principal (CIE10MC),Total Nacional,Comunidades y Ciudades Autónomas,Provincias,Sexo,Total
0,0106 COVID-19 U07.1,Total Nacional,NaN,NaN,Ambos sexos,1.556.482
1,0106 COVID-19 U07.1,Total Nacional,NaN,NaN,Hombres,896.018
2,0106 COVID-19 U07.1,Total Nacional,NaN,NaN,Mujeres,660.463
3,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,04 Almería,Ambos sexos,10.321
4,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,04 Almería,Hombres,6.655
5,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,04 Almería,Mujeres,3.665
6,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,11 Cádiz,Ambos sexos,19.301
7,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,11 Cádiz,Hombres,11.491
8,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,11 Cádiz,Mujeres,7.810
9,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,14 Córdoba,Ambos sexos,17.557
10,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,14 Córdoba,Hombres,10.035
11,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,14 Córdoba,Mujeres,7.522
12,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,18 Granada,Ambos sexos,34.242
13,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,18 Granada,Hombres,20.003
14,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,18 Granada,Mujeres,14.239
15,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,21 Huelva,Ambos sexos,7.804
16,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,21 Huelva,Hombres,4.282
17,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,21 Huelva,Mujeres,3.522
18,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,23 Jaén,Ambos sexos,18.604
19,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,23 Jaén,Hombres,11.656
20,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,23 Jaén,Mujeres,6.948
21,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,29 Málaga,Ambos sexos,26.665
22,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,29 Málaga,Hombres,15.910
23,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,29 Málaga,Mujeres,10.756
24,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,41 Sevilla,Ambos sexos,44.456
25,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,41 Sevilla,Hombres,26.225
26,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,41 Sevilla,Mujeres,18.231
27,0106 COVID-19 U07.1,Total Nacional,02 Aragón,22 Huesca,Ambos sexos,11.976
28,0106 COVID-19 U07.1,Total Nacional,02 Aragón,22 Huesca,Hombres,7.184
29,0106 COVID-19 U07.1,Total Nacional,02 Aragón,22 Huesca,Mujeres,4.792
30,0106 COVID-19 U07.1,Total Nacional,02 Aragón,44 Teruel,Ambos sexos,8.617
31,0106 COVID-19 U07.1,Total Nacional,02 Aragón,44 Teruel,Hombres,4.984
32,0106 COVID-19 U07.1,Total Nacional,02 Aragón,44 Teruel,Mujeres,3.633
33,0106 COVID-19 U07.1,Total Nacional,02 Aragón,50 Zaragoza,Ambos sexos,53.475
34,0106 COVID-19 U07.1,Total Nacional,02 Aragón,50 Zaragoza,Hombres,30.263
35,0106 COVID-19 U07.1,Total Nacional,02 Aragón,50 Zaragoza,Mujeres,23.212
36,0106 COVID-19 U07.1,Total Nacional,"03 Asturias, Principado de",NaN,Ambos sexos,41.023
37,0106 COVID-19 U07.1,Total Nacional,"03 Asturias, Principado de",NaN,Hombres,23.287
38,0106 COVID-19 U07.1,Total Nacional,"03 Asturias, Principado de",NaN,Mujeres,17.736
39,0106 COVID-19 U07.1,Total Nacional,"04 Balears, Illes",NaN,Ambos sexos,28.108
40,0106 COVID-19 U07.1,Total Nacional,"04 Balears, Illes",NaN,Hombres,17.201
41,0106 COVID-19 U07.1,Total Nacional,"04 Balears, Illes",NaN,Mujeres,10.907
42,0106 COVID-19 U07.1,Total Nacional,05 Canarias,"35 Palmas, Las",Ambos sexos,10.725
43,0106 COVID-19 U07.1,Total Nacional,05 Canarias,"35 Palmas, Las",Hombres,6.637
44,0106 COVID-19 U07.1,Total Nacional,05 Canarias,"35 Palmas, Las",Mujeres,4.088
45,0106 COVID-19 U07.1,Total Nacional,05 Canarias,38 Santa Cruz de Tenerife,Ambos sexos,12.613
46,0106 COVID-19 U07.1,Total Nacional,05 Canarias,38 Santa Cruz de Tenerife,Hombres,7.633
47,0106 COVID-19 U07.1,Total Nacional,05 Canarias,38 Santa Cruz de Tenerife,Mujeres,4.979
48,0106 COVID-19 U07.1,Total Nacional,06 Cantabria,NaN,Ambos sexos,12.460
49,0106 COVID-19 U07.1,Total Nacional,06 Cantabria,NaN,Hombres,7.411

In [6]:
df20.dtypes

Diagnóstico principal (CIE10MC)     object
Total Nacional                      object
Comunidades y Ciudades Autónomas    object
Provincias                          object
Sexo                                object
Total                               object
dtype: object

In [7]:
# LIMPIEZA COLUMNA TOTAL
df20['Total'] = pd.to_numeric(df20['Total'].astype(str).str.replace('.', '', regex=False), errors='coerce').fillna(0).astype(int)

In [8]:
df20['Total'] = df20['Total'].apply(lambda x: str(x).replace('.', '') if pd.notnull(x) else '0').astype(int)

In [9]:

df20['Total'] = df20['Total'].replace('', '0').astype(str).str.replace('.', '', regex=False).astype(int)

In [10]:
df20.dtypes

Diagnóstico principal (CIE10MC)     object
Total Nacional                      object
Comunidades y Ciudades Autónomas    object
Provincias                          object
Sexo                                object
Total                                int32
dtype: object

In [11]:
df20 = df20.iloc[3:]

In [12]:
df20.head()

,Diagnóstico principal (CIE10MC),Total Nacional,Comunidades y Ciudades Autónomas,Provincias,Sexo,Total
3,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,04 Almería,Ambos sexos,10321
4,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,04 Almería,Hombres,6655
5,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,04 Almería,Mujeres,3665
6,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,11 Cádiz,Ambos sexos,19301
7,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,11 Cádiz,Hombres,11491

In [13]:
df20 = df20.reset_index()

In [14]:
df20.drop('index', axis=1, inplace=True)

In [15]:
df20['Total'].isnull().sum()

0

In [16]:
df20['Comunidades y Ciudades Autónomas'] = df20['Comunidades y Ciudades Autónomas'].fillna('')
df20['Provincias'] = df20['Provincias'].fillna('')

In [17]:
df20['Combinada'] = df20['Comunidades y Ciudades Autónomas'].str.cat(df20['Provincias'], sep=' ')

In [18]:
df20.head(1)

,Diagnóstico principal (CIE10MC),Total Nacional,Comunidades y Ciudades Autónomas,Provincias,Sexo,Total,Combinada
0,0106 COVID-19 U07.1,Total Nacional,01 Andalucía,04 Almería,Ambos sexos,10321,01 Andalucía 04 Almería

In [19]:
df20 = df20[df20.columns[[0,4,5,6]]]

In [20]:
df20

,Diagnóstico principal (CIE10MC),Sexo,Total,Combinada
0,0106 COVID-19 U07.1,Ambos sexos,10321,01 Andalucía 04 Almería
1,0106 COVID-19 U07.1,Hombres,6655,01 Andalucía 04 Almería
2,0106 COVID-19 U07.1,Mujeres,3665,01 Andalucía 04 Almería
3,0106 COVID-19 U07.1,Ambos sexos,19301,01 Andalucía 11 Cádiz
4,0106 COVID-19 U07.1,Hombres,11491,01 Andalucía 11 Cádiz
...,...,...,...,...
1741,1008 Otras enfermedades del sistema respirator...,Hombres,592,18 Ceuta
1742,1008 Otras enfermedades del sistema respirator...,Mujeres,583,18 Ceuta
1743,1008 Otras enfermedades del sistema respirator...,Ambos sexos,1730,19 Melilla
1744,1008 Otras enfermedades del sistema respirator...,Hombres,1114,19 Melilla
1745,1008 Otras enfermedades del sistema respirator...,Mujeres,615,19 Melilla

In [21]:
df20['Combinada'].unique()

array(['01 Andalucía 04 Almería', '01 Andalucía 11 Cádiz',
       '01 Andalucía 14 Córdoba', '01 Andalucía 18 Granada',
       '01 Andalucía 21 Huelva', '01 Andalucía 23 Jaén',
       '01 Andalucía 29 Málaga', '01 Andalucía 41 Sevilla',
       '02 Aragón 22 Huesca', '02 Aragón 44 Teruel',
       '02 Aragón 50 Zaragoza', '03 Asturias, Principado de ',
       '04 Balears, Illes ', '05 Canarias 35 Palmas, Las',
       '05 Canarias 38 Santa Cruz de Tenerife', '06 Cantabria ',
       '07 Castilla y León 05 Ávila', '07 Castilla y León 09 Burgos',
       '07 Castilla y León 24 León', '07 Castilla y León 34 Palencia',
       '07 Castilla y León 37 Salamanca', '07 Castilla y León 40 Segovia',
       '07 Castilla y León 42 Soria', '07 Castilla y León 47 Valladolid',
       '07 Castilla y León 49 Zamora',
       '08 Castilla - La Mancha 02 Albacete',
       '08 Castilla - La Mancha 13 Ciudad Real',
       '08 Castilla - La Mancha 16 Cuenca',
       '08 Castilla - La Mancha 19 Guadalajara',
       '08 Castilla - La Mancha 45 Toledo', '09 Cataluña 08 Barcelona',
       '09 Cataluña 17 Girona', '09 Cataluña 25 Lleida',
       '09 Cataluña 43 Tarragona',
       '10 Comunitat Valenciana 03 Alicante/Alacant',
       '10 Comunitat Valenciana 12 Castellón/Castelló',
       '10 Comunitat Valenciana 46 Valencia/València',
       '11 Extremadura 06 Badajoz', '11 Extremadura 10 Cáceres',
       '12 Galicia 15 Coruña, A', '12 Galicia 27 Lugo',
       '12 Galicia 32 Ourense', '12 Galicia 36 Pontevedra',
       '13 Madrid, Comunidad de ', '14 Murcia, Región de ',
       '15 Navarra, Comunidad Foral de ', '16 País Vasco 01 Araba/Álava',
       '16 País Vasco 48 Bizkaia', '16 País Vasco 20 Gipuzkoa',
       '17 Rioja, La ', '18 Ceuta ', '19 Melilla ', ' '], dtype=object)

In [22]:
# RENOMBRADO DE COLUMNAS
df20.rename(
    columns = {'Combinada': 'Provincia',
              'Diagnóstico principal (CIE10MC)': 'Diagnóstico',
              'Total': 'Hospitalizaciones'},
    inplace = True
)

In [23]:
df20 = df20[['Diagnóstico', 'Provincia', 'Sexo', 'Hospitalizaciones']]

In [24]:
mapeo_combinada = {
    '01 Andalucía 04 Almería': 'Almería',
    '01 Andalucía 11 Cádiz': 'Cádiz',
    '01 Andalucía 14 Córdoba': 'Córdoba',
    '01 Andalucía 18 Granada': "Granada",
    '01 Andalucía 21 Huelva': 'Huelva',
    '01 Andalucía 23 Jaén': 'Jaén',
    '01 Andalucía 29 Málaga': 'Málaga',
    '01 Andalucía 41 Sevilla': 'Sevilla',
    '02 Aragón 22 Huesca': 'Huesca',
    '02 Aragón 44 Teruel': 'Teruel',
    '02 Aragón 50 Zaragoza': 'Zaragoza',
    '03 Asturias, Principado de ': 'Asturias',
    '04 Balears, Illes ': 'Islas Baleares',
    '05 Canarias 35 Palmas, Las': 'Islas Canarias',
    '05 Canarias 38 Santa Cruz de Tenerife': 'Islas Canarias',
    '06 Cantabria ': 'Cantabria',
    '07 Castilla y León 05 Ávila': 'Ávila',
    '07 Castilla y León 09 Burgos': 'Burgos',
    '07 Castilla y León 24 León': 'León',
    '07 Castilla y León 34 Palencia': 'Palencia',
    '07 Castilla y León 37 Salamanca': 'Salamanca',
    '07 Castilla y León 40 Segovia': 'Segovia',
    '07 Castilla y León 42 Soria': 'Soria',
    '07 Castilla y León 47 Valladolid': 'Valladolid',
    '07 Castilla y León 49 Zamora': 'Zamora',
    '08 Castilla - La Mancha 02 Albacete': 'Albacete',
    '08 Castilla - La Mancha 13 Ciudad Real': 'Ciudad Real',
    '08 Castilla - La Mancha 16 Cuenca': 'Cuenca',
    '08 Castilla - La Mancha 19 Guadalajara': 'Guadalajara',
    '08 Castilla - La Mancha 45 Toledo': 'Toledo',
    '09 Cataluña 08 Barcelona': 'Barcelona',
    '09 Cataluña 17 Girona': 'Girona',
    '09 Cataluña 25 Lleida': 'Lleida',
    '09 Cataluña 43 Tarragona': 'Tarragona',
    '10 Comunitat Valenciana 03 Alicante/Alacant': 'Alicante',
    '10 Comunitat Valenciana 12 Castellón/Castelló': 'Castellón',
    '10 Comunitat Valenciana 46 Valencia/València': 'Valencia',
    '11 Extremadura 06 Badajoz': 'Badajoz',
    '11 Extremadura 10 Cáceres': 'Cáceres',
    '12 Galicia 15 Coruña, A': 'A Coruña',
    '12 Galicia 27 Lugo': 'Lugo',
    '12 Galicia 32 Ourense': 'Ourense',
    '12 Galicia 36 Pontevedra': 'Pontevedra',
    '13 Madrid, Comunidad de ': 'Madrid',
    '14 Murcia, Región de ': 'Murcia',
    '15 Navarra, Comunidad Foral de ': 'Navarra',
    '16 País Vasco 01 Araba/Álava': 'Álava',
    '16 País Vasco 48 Bizkaia': 'Bizkaia',
    '16 País Vasco 20 Gipuzkoa': 'Gipuzkoa',
    '17 Rioja, La ': 'La Rioja',
    '18 Ceuta ': 'Ceuta',
    '19 Melilla ': 'Melilla'
}

df20['Provincia'] = df20['Provincia'].map(mapeo_combinada)

In [25]:
df20.head(3)

           Diagnóstico Provincia         Sexo  Hospitalizaciones
0  0106 COVID-19 U07.1   Almería  Ambos sexos              10321
1  0106 COVID-19 U07.1   Almería      Hombres               6655
2  0106 COVID-19 U07.1   Almería      Mujeres               3665

In [26]:
# CREACIÓN DE OTRA COLUMNA PROVINCIA ID
columna_duplicada = df20['Provincia']
if 'ColumnaDuplicada' in df20.columns:
    df20.drop(columns=['ColumnaDuplicada'], inplace=True)
df20.insert(2, 'ColumnaDuplicada', columna_duplicada)

In [27]:
df20.rename(
    columns = {'ColumnaDuplicada': 'Provincia_ID'},
    inplace = True
)

In [28]:
mapeo_provincias = {
    "Álava": 1,
    "Albacete": 2,
    "Alicante": 3,
    "Almería": 4,
    "Ávila": 5,
    "Badajoz": 6,
    "Islas Baleares": 7,
    "Barcelona": 8,
    "Burgos": 9,
    "Cáceres": 10,
    "Cádiz": 11,
    "Castellón": 12,
    "Ciudad Real": 13,
    "Córdoba": 14,
    "A Coruña": 15,
    "Cuenca": 16,
    "Girona": 17,
    "Granada": 18,
    "Guadalajara": 19,
    "Gipuzkoa": 20,
    "Huelva": 21,
    "Huesca": 22,
    "Jaén": 23,
    "León": 24,
    "Lleida": 25,
    "La Rioja": 26,
    "Lugo": 27,
    "Madrid": 28,
    "Málaga": 29,
    "Murcia": 30,
    "Navarra": 31,
    "Ourense": 32,
    "Asturias": 33,
    "Palencia": 34,
    "Islas Canarias": [35, 38],
    "Pontevedra": 36,
    "Salamanca": 37,
    "Cantabria": 39,
    "Segovia": 40,
    "Sevilla": 41,
    "Soria": 42,
    "Tarragona": 43,
    "Teruel": 44,
    "Toledo": 45,
    "Valencia": 46,
    "Valladolid": 47,
    "Bizkaia": 48,
    "Zamora": 49,
    "Zaragoza": 50,
    "Ceuta": 51,
    "Melilla": 52
}

df20['Provincia_ID'] = df20['Provincia_ID'].map(mapeo_provincias)

In [29]:
df20.head()

           Diagnóstico Provincia Provincia_ID         Sexo  Hospitalizaciones
0  0106 COVID-19 U07.1   Almería            4  Ambos sexos              10321
1  0106 COVID-19 U07.1   Almería            4      Hombres               6655
2  0106 COVID-19 U07.1   Almería            4      Mujeres               3665
3  0106 COVID-19 U07.1     Cádiz           11  Ambos sexos              19301
4  0106 COVID-19 U07.1     Cádiz           11      Hombres              11491

In [30]:
df20['Provincia_ID'].isna().sum()

30

In [31]:
df20['Diagnóstico'].unique()

array(['0106 COVID-19 U07.1',
       '0202 Neoplasias malignas de tráquea, bronquios y pulmón  C33-C34',
       '0905 Enfermedades de la circulación pulmonar I26-I28',
       '1001 Infecciones agudas de las vías respiratorias superiores y gripe J00-J11',
       '1002 Neumonía J12-J18',
       '1003 Bronquitis y bronquiolitis agudas J20-J22',
       '1004 Enfermedad crónica de amígdalas y adenoides J35',
       '1005 Otras enfermedades del tracto respiratorio superior J30-J34, J36-J39',
       '1006 Enfermedad pulmonar obstructiva crónica y bronquiectasias J40-J44, J47',
       '1007 Asma J45',
       '1008 Otras enfermedades del sistema respiratorio J60-J99'],
      dtype=object)

In [32]:
mapeo_diagnostico = {
    '0202 Neoplasias malignas de tráquea, bronquios y pulmón C33-C34': "Neoplasia maligna de tráquea, bronquios y pulmón",
    '0905 Enfermedad pulmonar cardíaca y enfermedades de la circulación pulmonar I26-I28': "Enfermedades de la circulación pulmonar",
    '1001 Infecciones agudas de las vías respiratorias superiores y gripe J00-J11': 'Infecciones de las vías respiratorias superiores y gripe',
    '1002 Neumonía J12-J18': 'Neumonía',
    '1003 Otras infecciones agudas de las vias respiratorias inferiores J20-J22':'Otras infecciones de las vias respiratorias inferiores',
    '1004 Enfermedad crónica de amígdalas y adenoides J35': 'Enfermedad crónica de amígdalas',
    '1005 Otras enfermedades del tracto respiratorio superior J30-J34, J36-J39': 'Otras infecciones del tracto respiratorio superior',
    '1006 Enfermedad pulmonar obstructiva crónica y bronquiectasias J40-J44, J47': 'EPOC y bronquitis',
    '1007 Asma J45': 'Asma',
    '1008 Otras enfermedades del aparato respiratorio J60-J99': 'Otras enfermedades del aparato respiratorio',
    '0106 COVID-19 U07.1': 'Covid'
}
df20['Diagnóstico'] = df20['Diagnóstico'].map(mapeo_diagnostico)

In [33]:
df20.insert(0, 'Año', 2020)

In [34]:
columna_duplicada = df20['Diagnóstico']
if 'ColumnaDuplicada' in df20.columns:
    df20.drop(columns=['ColumnaDuplicada'], inplace=True)
df20.insert(2, 'ColumnaDuplicada', columna_duplicada)

In [35]:
df20.rename(
    columns = 
    {'ColumnaDuplicada': 'Diagnóstico_ID'
},
inplace = True)

In [36]:
df20['Diagnóstico'].unique()

array(['Covid', nan,
       'Infecciones de las vías respiratorias superiores y gripe',
       'Neumonía', 'Enfermedad crónica de amígdalas',
       'Otras infecciones del tracto respiratorio superior',
       'EPOC y bronquitis', 'Asma'], dtype=object)

In [37]:
df20

,Año,Diagnóstico,Diagnóstico_ID,Provincia,Provincia_ID,Sexo,Hospitalizaciones
0,2020,Covid,Covid,Almería,4,Ambos sexos,10321
1,2020,Covid,Covid,Almería,4,Hombres,6655
2,2020,Covid,Covid,Almería,4,Mujeres,3665
3,2020,Covid,Covid,Cádiz,11,Ambos sexos,19301
4,2020,Covid,Covid,Cádiz,11,Hombres,11491
...,...,...,...,...,...,...,...
1741,2020,NaN,NaN,Ceuta,51,Hombres,592
1742,2020,NaN,NaN,Ceuta,51,Mujeres,583
1743,2020,NaN,NaN,Melilla,52,Ambos sexos,1730
1744,2020,NaN,NaN,Melilla,52,Hombres,1114
1745,2020,NaN,NaN,Melilla,52,Mujeres,615

In [38]:
mapeo_diagnostico = {
        'Neoplasia maligna de tráquea, bronquios y pulmón':1,
        'Enfermedades de la circulación pulmonar':2,
        'Bronquitis y bronquiolitis aguda':3,
        'Enfermedad crónica de amígdalas':4,
        'Otras infecciones del tracto respiratorio superior':5,
        'Neumonía':6,
        'Gripe':7, 
        'EPOC y bronquitis':8, 
        'Asma':9,
        'Otras asociadas a EPOC':10,
        'Neumoconiosis y enfermedades pulmonares por agentes externos':11,
        'Covid': 12
}

df20['Diagnóstico_ID'] = df20['Diagnóstico_ID'].map(mapeo_diagnostico)

In [77]:
df20['Diagnóstico_ID'] = pd.to_numeric(df20['Diagnóstico_ID'], errors='coerce').astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer